#header {
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#header-text {
    font-size: 50px;
}

body {
    background-image: url("images/vsbackground.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.char-img {
    height: 550px;
    width: 550px;
    object-fit: contain;
}

.char-name, .char-origin, .char-votes {
    color: whitesmoke;
    text-align: center;
}

#card-one {
    float: left;
    margin-left:auto;
    text-align: center;
    margin-bottom: 300px;
}

#card-two {
    float: right;
    margin-right: auto;
    text-align: center;
    margin-bottom: 300px;
}

#random-button {
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    margin-left: 75px;
    margin-right: 75px;
    background-repeat: no-repeat;
    background-image: url("images/shufflebutton.png");
}

.button-bar {
    display: flex;
}

.universe-btn {
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat; 
    margin-left: 48px;
}

#marvel, #marvel-two {
    background-image: url("https://cdn.freebiesupply.com/logos/large/2x/marvel-logo-png-transparent.png");
}

#dc, #dc-two {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f359881d-6bb2-4391-aba6-779f7084edd4/da45379-24b14a50-6c97-4b6e-af69-ea3c7eea04ce.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YzNTk4ODFkLTZiYjItNDM5MS1hYmE2LTc3OWY3MDg0ZWRkNFwvZGE0NTM3OS0yNGIxNGE1MC02Yzk3LTRiNmUtYWY2OS1lYTNjN2VlYTA0Y2UucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JTLNUl8tHzpXlPigKmDbCVRK-bg6-7nHTp3nUM2NJs0");
}

#movie, #movie-two {
    background-image: url("https://thumbs.dreamstime.com/b/movie-film-reel-film-clapper-popcorn-box-black-background-movie-film-reel-film-clapper-popcorn-box-black-134880090.jpg");
}

#video-game, #video-game-two {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1010795774/thumb/8.jpg");
}

#anime, #anime-two {
    background-image: url("https://i.gadgets360cdn.com/large/crunchyroll_logo_crunchyroll_1607577688260.jpg");
}

#char-one-select-buttons, #char-two-select-buttons {
    background-color: transparent;
}

#choose-container {
    margin-right: 700px ;   
    margin-top: auto;  
}
#choose{
    text-align: center;
    color: whitesmoke;
}
.vote-buttons{
    background-color: transparent;
    background-size: 100%;
    height: 100px;
    width: 100px;
    border: none;
    background-repeat: no-repeat;
    position: relative;
}

#vote-button-one {
    background-image: url("images/charonevote.png");
}

#vote-button-two {
    background-image: url("images/chartwovote.png");
}

#footer {
    color: whitesmoke;
    position: relative;
    margin-top: 1100px;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: rgb(56, 13, 13);
    text-align: center;
}