#header {
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/vsbackground.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.char-img {
    height: 550px;
    width: 550px;
}

.char-name {
    color: whitesmoke;
    text-align: center;
}

.char-origin {
    color: whitesmoke;
    text-align: center;
}

.char-votes {
    color: whitesmoke;
    text-align: center;
}

#card-one {
    float: left;
    margin-left: 150px;
}

#card-two {
    float: right;
    margin-right: 150px;
}

#random-button {
    height: 125px;
    width: 200px;
    margin-left: 150px;
    margin-bottom: auto;
    border: 0;
    background-size: 100%;
    background-color: transparent;
    color: whitesmoke;
}

.button-bar {
    display: flex;
}

#marvel {
    background-image: url("images/marvelimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#dc {
    background-image: url("images/dcimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#movie {
    background-image: url("images/movieimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#video-game {
    background-image: url("images/gameimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#anime {
    background-image: url("images/animeimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#marvel-two {
    background-image: url("images/marvelimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#dc-two {
    background-image: url("images/dcimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#movie-two {
    background-image: url("images/movieimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#video-game-two {
    background-image: url("images/gameimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

#anime-two {
    background-image: url("images/animeimg.png");
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}
#buttons-container {
    display: flex;
}