#header {
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/vsbackground.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.char-img {
    height: 550px;
    width: 550px;
}

.char-name {
    color: whitesmoke;
    text-align: center;
}

.char-info {
    color: whitesmoke;
    text-align: left;
    margin-left: 150px;
    list-style-type: none;
}

.char-publisher {
    color: whitesmoke;
    text-align: center;
}

#card-one {
    float: left;
    margin-left: 150px;
}

#card-two {
    float: right;
    margin-right: 150px;
}

#fight-button {
    background-image: url("images/fightgif.gif");
    height: 125px;
    width: 200px;
    margin-left: 150px;
    margin-bottom: auto;
    border: 0;
    background-size: 100%;
    background-color: transparent;
}